<!DOCTYPE html>
<html>
<head>
  <title>BackendGallery</title>
  <%= stylesheet_link_tag    "backend_gallery/application", media: "all" %>
  <%= javascript_include_tag "backend_gallery/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
